<div class="row mt-5" *ngIf="cliente">
  <div class="col-md-10 mx-auto">
    <div class="card mt-5" style="width: 18rem;">
      <div class="card-header">
        Detalhes Cliente
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Código: </b>{{cliente.id}}</li>
        <li class="list-group-item"><b>Nome: </b>{{cliente.nome}}</li>
        <li class="list-group-item"><b>CPF: </b>{{cliente.cpf}}</li>
        <li class="list-group-item"><b>Endereço: </b>{{cliente.endereco}}</li>
        <li class="list-group-item"><b>Telefone: </b>{{cliente.telefone}}</li>
        <li class="list-group-item"><b>Sexo: </b>{{cliente.sexo}}</li>
      </ul>
      <div class="card-footer">
        <button class="btn btn-outline-primary btn-block" (click)="voltar()"><i class="fas fa-arrow-circle-left"></i>Voltar</button>
            </div>
    </div>

  </div>
</div>



